*, *::before, *::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    margin-bottom: 2rem;

    border: 1px solid black;
}

.nav {
    display: flex;
    justify-content: space-around;

    width: 40%;
}
  
  .slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
  }
  
  .slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }
